html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;  /* to make scrollbar invisible */
}

.profile-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0; /* Fallback color */
}
.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.stories_wrapper{
    display: flex;
    margin: 10px;
    overflow-x: auto;
    cursor: pointer;
}

